@import "../../app.scss";

.portfolio{
    position: relative;
    .progress{
        position: sticky;
        top:0;
        left:0;
        text-align: center;
        padding-top: 50px;
        color: orange;
        font-size: 30px;

        @include Mobile{
          padding-top: calc(100vh - 80px);
          font-size: 20px;
        }

        .progressbar{
            
            height: 10px;
            background-color: white;

        }
    }
    .container{
          
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          overflow: hidden;

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            

            
        @include Mobile{
            flex-direction: column;
          }

            .imageContainer{
                flex: 1;
                height: 50%;
                
                
            @include Mobile{
               max-height: 300px; 
               width: 100%;
            }

                img{
                    height: 100%;   
                    width: 100%;
                    object-fit: contain;

                    
                @include Mobile{
                   object-fit: contain;
                    
                }

                }
            }
            
            .textContainer{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                @include Mobile{
                    transform: none !important;
                    padding: 20px;
                    text-align: center;
                    align-items: center;
                }

                h2{
                    font-size: 40px;

                    @include Mobile{
                        font-size: 33px;
                    }
                }
                
                p{
                    color: gray;
                    font-size: 20px;

                    @include Mobile{
                        font-size: 18px;
                    }
                }
                button{
                    width: 200px;
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    background-color: orange;
                    cursor: pointer;
                    font-weight: 500;

                    @include Mobile{
                        width: 150px;
                    }
                    
                }
            }
        }  
    }
}